:root {
    --light: #FAF9F9;
    --light-accent: #7797EC;
    --primary-color: #608DBA;
    --dark-accent: #4c4e68;
    --dark: #201426;
    --warning-color: #e50914;
}

body {
    background-color: var(--light);
}

button {
    border-radius: 10px;
}

.inputs-title {
    color: var(--dark);
}

input {
    border-radius: 10px;
    border: solid 2px var(--dark-accent);
}

.input-element {
    border: 2px solid var(--light-accent);
    border-radius: 10px;
    padding: 12px;
    margin-top: 12px;

}

.delete-button {
    background-color: var(--primary-color);
    color: var(--dark);
}

#add-rejection, #add-match {
    background-color: var(--primary-color);
    color: var(--dark);
    border-color: var(--dark-accent);
}

@media screen and (min-width: 769px) {
    .inputs-box {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        max-height: 80vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .inputs-box::-webkit-scrollbar {
        display: none;
    }

    .input-element {
        width: 280px;
    }

    .inputs-title {
        max-height: 8vh;
    }
}

@media screen and (max-width: 768px) {
    .inputs-box {
        display: inline-block;
    }

    .input-element {
        width: auto;
    }

    #rejections-input, #matches-input {
        width: 90%;
        margin-left: 5%;
    }

    #add-rejection, #add-match {
        width: 100%;
        padding: 5px;
    }

    #rejection-input, #match-input {
        width: 100%;
        margin-right: auto;
        position: relative;
    }
}